@import './base.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: var(--text-dark);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 200px;
  contain: layout style paint;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.level-details-card h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.level-details-card p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.level-details-card img{
  max-width: 100%;
}


@media (max-width: 768px) {
  .container {
    padding: 0 10px;
    min-height: 150px;
  }
}